body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-container {
  justify-content: center;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.place-details {
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

}


.result-box {
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%
}

.title-header {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 50px;
  width: 100%;
}